<head>
<meta charset="UTF-8">
<title>Exemplos</title>
</head>
<h1>Exemplos</h1>
<ul>
	<li><a href="examples/practice13/index.html">Prática 13</a></li>
	<li><a href="examples/practice14/index.html">Prática 14</a></li>
	<li><a href="examples/practice15/index.html">Prática 15</a></li>
	<li><a href="examples/practice16/index.html">Prática 16</a></li>
</ul>