<head>
<meta charset="UTF-8">
<title>Práticas</title>
</head>
<h1>Práticas</h1>
<ul>
	<li><a href="practices/practice13/index.html">Prática 13</a></li>
	<li><a href="practices/practice14/index.html">Prática 14</a></li>
	<li><a href="practices/practice15/index.html">Prática 15</a></li>
	<li><a href="practices/practice16/index.html">Prática 16</a></li>
</ul>